{% extends 'note/base.html' %}
{% load static %}
{% block content %}

<h1><br>Club</h1>
<a href='../'>Back to Index</a>
<hr>
<h2>Meeting Head Count</h2>
<table class='gridtable'>
    <tr>
   
    <th></th>
    <th>Date</th>
    <th>Type</th>
    <th>Head Cnt</th>
    
    </tr>
    {% for x in list1 %}
    <tr>

        <th>{{forloop.counter}} </th>
        <td> {{x.date1}} </td>
        <td > {{x.member}} </td>
        <td align='right'> {{x.headcnt}} </td>
     </tr>

    {% endfor %}
</table>
<br>
<br>

{% endblock %}